* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(45deg, #f06291, #fffde7);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calculator {
    position: relative;
    height:auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(187, 130, 130);
    background-color: #fff;

    #display {
        color: #0a1e23;
        margin: 0 10px;
        height: 120px;
        width: auto;
        display: flex;
        align-items: flex-end;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 800;
    }

    #equal {
        height: 130px;
    }

    #clear {
        background-color: #ffd5d8;
        color: #fc4552;

    }

    .btn-number {
        background-color: #AEDEFC;
        color: #000;
    }

    .btn-operator {
        background-color: #FFDFDF;
        color: #F875AA;

    }

    .btn-equal {
        background-color: #45FFCA;
        color: grey;
    }


    //dark-theme

    &.dark {
        background-color: #445069;

        #display {
            color: #f8fafb;
        }

        #clear {
            background-color: #252B48;
            color: white;
        }

        .btn-number {
            background-color: #5B9A8B;
            color: darkslategray;
            font-weight: 600;
        }

        .btn-operator {
            background-color: #F7E987;
            color: #461959;
        }

        .btn-equal {
            background-color: #EF6262;
            color: white;
        }
    }


}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #333;
        z-index: -1;
    }

}

.theme-toggler.active {
    color: #333;

    &::before {
        background-color: #fff;
    }

}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}